.Rproj.user
NewGPLesson.Rproj
.Rhistory
.RData
.Ruserdata
.DS_STORE
#exclude folders *recursively*, otherwise overrules all exceptions!
/assets/**
/assembled-lesson-materials/**
#excludes subfolders from ignore rules
!/assets/**/ 
!/assets/**/.gitkeep
!/assets/**/help.txt
!/assets/**/*.xlsx
!/assembled-lesson-materials/**/
!assembled-lesson-materials/**/.gitkeep
*.gsheet
*.gdoc
*.gslides
*.gform
*.gdraw
*.gjam

